/* --- GLOBAL & RESET --- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.7;
}

[dir="rtl"] body {
  font-family: 'Vazirmatn', sans-serif;
}

.logo-font {
  font-weight: 600;
  color: var(--primary-color);
  font-size: 1.8rem;
}
html[data-theme='dark'] .logo-font {
    color: var(--text-color);
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* --- ICON --- */
.icon {
    width: 1.5rem;
    height: 1.5rem;
    stroke-width: 2px;
}
.nav-btn .icon {
    width: 1.5rem;
    height: 1.5rem;
}
.tab-btn .icon {
    width: 1.25rem;
    height: 1.25rem;
}
